<div class="top-wrap">
    <a href="/admin/">返回首页</a>
    <a href="/admin/banners">banner管理</a>
    <a href="/admin/blog">blog管理</a>
    <a href="/admin/contact">评价管理</a>
    <a href="/admin/custom">用户管理</a>
    <a href="/admin/intro">简介管理</a>
    <a href="/admin/news">新闻管理</a>
</div>