<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>管理员登录页面</title>
  </head>
  <body>
    <div class="login_d">
      <form action="/admin/login" method="post">
        用户:<input type="text" name="username" value=""/></br>
        密码:<input type="password" name="password" value=""/></br>
        <input type="submit" value="登录">
      </form>
    </div>
  </body>
</html>
